.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin:5px;
}
.container h1{
    font-family:'Times New Roman', Times, serif;
}
button{
    display: flex;
    align-self: flex-start;
}